* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  height: 100vh;
  width: 100vw;
  background: #d0dee9;
  display: flex;
  align-items: center;
  justify-content: center;
}
img {
  height: 100%;
  -webkit-user-drag: none;
  pointer-events: none;
}

i {
  pointer-events: none;
}

.music-player {
  height: 573px;
  width: 320px;
  position: absolute;
  overflow: hidden;
  background: linear-gradient(-45deg, #e4eaee, #d0dee9);
  box-shadow: 
    13px 13px 20px #cdced1,
    -4px -4px 9px rgba(153, 154, 154, 0.4);
  border-radius: 30px;
  padding: 20px;
}

.music-top-icons {
  width: 100%;
  height: 35px;
  padding: 0 5px;
  display: flex;
  justify-content: space-between;
  color: #9aa2b1;
}
.music-top-icons i {
  font-size: 24px;
}
.music-top-icons p {
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
}

.arrow-left, .music-playqueue {
  height: 30px;
  width: 30px;
  line-height: 43px;
  background: #d0dee9;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  font-size: 12px;
  z-index: 3;
  box-shadow: 
    inset 3px 3px 5px rgba(255,255,255,0.8),
    inset -3px -3px 5px rgba(0,0,0,0.15),
    -3px -3px 5px rgba(255,255,255,0.8),
    -3px -3px 5px rgba(255,255,255,1),
    3px 3px 8px #a7aaaf;
}

.recorder-music {
  position: relative;
  max-width: 330px;
  max-height: 230px;
  margin: 0 auto;
  overflow: hidden;
}
.music-album-photo {
  position: relative;
  height: 180px;
  width: 180px;
  overflow: hidden;
  margin: 25px auto;
  border-radius: 50%;
  box-shadow: 
    0 0 0 6px #e2e8ee,
    0 0 2px #fff,
    13px 13px 20px #a7aaaf,
    -13px -13px 20px #fff;
}
.music-album-photo::after {
  content: "";
  width: 30px;
  height: 30px;
  background: #ddd;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 50%;
  box-shadow: 
    inset 4px 4px 4px rgba(0, 0, 0, 0.3);
}
.music-album-photo img {
  width: 100%;
  transition: .4s;
}
.arm-wrapper {
  width: 250px;
  height: 250px;
  z-index: 2;
  position: relative;
  right: -130px;
  top: -320px;
  transform: rotate(-25deg);
  transition: .4s;
  /* animation: 3s rotate linear infinite; */
}
.arm {
  width: 140px;
  height: 140px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.initialPosition {
  transform: rotate(-25deg) !important;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.music-detail {
  margin-top: 15px;
  text-align: center;
  font-family: sans-serif;
}
.music-detail h2 {
  color: #444;
  font-size: 20px;
}
.music-detail p {
  display: block;
  margin-top: 5px;
  color: #777;
  font-size: 13px;
}

.music-options {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 0 10px;
  color: #9aa2b1;
  font-size: 30px;
}
.music-options div {
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
}
.like-switch, .volume-wrapper {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.like-switch i {
  position: absolute;
  bottom: 0;
}
.like-active {
  color: #AC4A48;
}

.volume-wrapper {
  position: relative;
  right: 0;
  position: relative;
}
.volume-wrapper i {
  position: absolute;
  right: 0;
  bottom: 0;
}
.volume-wrapper:hover #volume, #volume:hover{
  display: block;
  width: 100px;
}
#volume {
  display: none;
  -webkit-appearance: none;
  width: 0px;
  height: 8px;
  background: transparent;
  overflow: hidden;
  position: absolute;
  bottom: 80px;
  right: -35px;
  transform: rotate(-90deg);
  cursor: pointer;
  box-shadow: 
  0 0 0 3px #e2e8ee,
  0 0 5px rgba(255, 255, 255, 1),
  4px 4px 15px #a7aaaf,
  -4px -10px 8px rgba(255, 255, 255, 0.8),
  inset 2px 2px 4px rgba(153, 154, 154, 0.4),
  inset -2px -2px 4px rgba(255, 255, 255, 0.8);
  transition: .4s;
}
#volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: rgba(77, 104, 243, 1);
  box-shadow: 
    -100vw 0 0 calc(100vw - 10px/2) rgba(77, 104, 243, 1),
    4px 2px 6px #a7aaaf;
}
#volume::-moz-range-thumb {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgba(77, 104, 243, 1);
  box-shadow: 
    -100vw 0 0 calc(100vw - 10px/2) rgba(77, 104, 243, 1),
    4px 2px 6px #a7aaaf;
}
#volume:active::-webkit-slider-thumb {
  border: 2px solid #fff;
}
#volume:active::-moz-range-thumb {
  border: 2px solid #fff;
}

.play-timeline {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.play-timeline .time {
  display: flex;
  justify-content: space-between;
  font-family: sans-serif;
  font-size: 10px;
  color: #666;
  z-index: 2;
}
.timeline-bar {
  margin-top: 4px;
}
.timeline-bar input {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  background: transparent;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 
    0 0 0 3px #e2e8ee,
    0 0 5px rgba(255, 255, 255, 1),
    4px 4px 15px #a7aaaf,
    -4px -10px 8px rgba(255, 255, 255, 0.8),
    inset 2px 2px 4px rgba(153, 154, 154, 0.4),
    inset -2px -2px 4px rgba(255, 255, 255, 0.8);
}
.timeline-bar input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgba(77, 104, 243, 1);
  box-shadow: 
    -100vw 0 0 calc(100vw - 10px/2) rgba(77, 104, 243, 1),
    4px 2px 6px #a7aaaf;
}
.timeline-bar input::-moz-range-thumb {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgba(77, 104, 243, 1);
  box-shadow: 
    -100vw 0 0 calc(100vw - 10px/2) rgba(77, 104, 243, 1),
    4px 2px 6px #a7aaaf;
}
.timeline-bar input:active::-webkit-slider-thumb {
  border: 2px solid #fff;
}
.timeline-bar input:active::-moz-range-thumb {
  border: 2px solid #fff;
}

.music-changer {
  margin-top: 60px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.music-changer {
  font-size: 40px;
}
.music-changer i {
  font-size: inherit;
}
.prev, .play-pause, .next {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  background: #d0dee9;
  border-radius: 50%;
  color: #9aa2b1;
  box-shadow: 
    inset 4px 4px 10px rgba(255,255,255,0.9),
    inset -4px -4px 6px #a7aaaf,
    -3px -3px 5px rgba(255,255,255,0.8),
    -3px -3px 5px rgba(255,255,255,1),
    6px 6px 8px #a7aaaf;
  cursor: pointer;
}
.btn:active {
  background: transparent;
  box-shadow: none;
  transform: scale(0.9);
}
.play-pause {
  width: 50px;
  height: 50px;
  box-shadow: 
    0 0 0 4px #e2e8ee,
    inset 4px 4px 10px rgba(255,255,255,0.9),
    inset -4px -4px 6px #a7aaaf,
    -3px -3px 5px rgba(255,255,255,0.8),
    -3px -3px 5px rgba(255,255,255,1),
    8px 8px 8px #a7aaaf,
    -8px -8px 15px #fff;
}
.btn-active {
  background: rgba(77, 104, 243, 1);
  color: #e2e8ee;
  font-size: 34px;
  box-shadow:
  0 0 0 4px #e2e8ee,
  inset -3px -3px 3px rgba(255, 255, 255,0.3),
  inset -1px -1px 3px rgb(255, 255, 255, 0.6),
  inset 3px 3px 10px rgba(0,0,0,0.35),
  0 0 2px #fff,
  8px 8px 8px #a7aaaf,
  -8px -8px 15px #fff;
}

.display-hidden {
  display: none;
}

.queue {
  margin-top: 20px;
  transition: top .4s ease-in-out;
  position: relative;
  top: 100%;
}
.queue-show {
  top: 0;
}

.queue__music {
  display: flex;
  position: relative;
  align-items: center;
  padding: 10px 5px;
  border-radius: 10px;
}
.queue__music i {
  font-size: inherit;
  color: inherit;
}
.current {
  background: linear-gradient(160deg, 
                            #B4C3DA, #d0dee9);
}

.queue__music-album {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}
.queue__music-album::after {
  content: "";
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.queue__music-album img {
  width: 100%;
}

.queue__music-details {
  margin-left: 20px;
  font-size: 10px;
}
.queue__music-details h2 {
  color: #444;
}
.queue__music-details p {
  font-size: 12px;
  margin-top: 3px;
  color: #777;
}

.queue__music-like, .queue__music-play {
  position: absolute;
  color: #9aa2b1;
}
.queue__music-like {
  display: none;
  font-size: 20px;
  right: 50px;
}
.queue__music-play {
  font-size: 25px;
  right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #d0dee9;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 
    0 0 0 2px #e2e8ee,
    inset 1px 1px 4px rgba(255,255,255,0.6),
    inset -1px -1px 4px rgba(0,0,0,0.25),
    4px 4px 6px 4px rgba(167, 170, 175, 0.4),
    -4px -4px 6px 4px rgba(255,255,255,0.4);
  cursor: pointer;
}

.btn-playing {
  background: rgba(77, 104, 243, 1);
  font-size: 20px;
  color: #e2e8ee;
  box-shadow:
  0 0 0 2px rgba(77, 104, 243, 1),
  inset -1px -1px 4px rgba(255,255,255,0.4),
  inset 1px 1px 4px rgba(0,0,0,0.35),
  4px 4px 6px 4px rgba(167, 170, 175, 0.4),
  -4px -4px 6px 4px rgba(255,255,255,0.4);
}
.btn-playing i::before {
  content: "\eb10";
}

@media screen and (max-width: 375px) {
  body {
    background: linear-gradient(-45deg, #e4eaee, #d0dee9);
  }
  .music-player {
    box-shadow: none;
    background: transparent;
  }
}